<footer class="bg-dark text-white">

    <div class="container-fluid">
<div class="row">
    <div class="col col-xl-4 col-lg-3 col-12 col-xs-12 d-flex justify-content-center align-items-center">
      
            <img src="../../assets/feviLogo.png" alt="logo">
            
    </div>
    
           
    <div class="col col-xl-8 col-lg-9 col-12 col-xs-12">
       <div class="row">
        <div class="col col-lg-4 col-sm-6 col-12">
            <h3>About</h3>
            <hr>
            <p>Our platform, launched in 2023, connects customers, restaurants to meet their various needs.
                 Customers can use our platform to search for restaurants, read reviews, order food for delivery, and make secure payments.</p>
        </div>

        <div class="col col-lg-4 col-sm-6 col-12">
            <h3>Let us help</h3>
            <hr>
            <ul>

                <li><a routerLink="/myOrders">Your Orders</a></li>
                <li><a routerLink="/profile">Your Profile</a></li>
                <li><a routerLink="">Home</a></li>
            
            </ul>
        </div>

        <div class="col col-lg-4 col-sm-6 col-12">
            <h3>Contact Us</h3>
            <hr>
            <ul >
                <li><a href="" >
                    <i class="fa fa-home" style="padding: 3px;font-size: 25px;" id="address"></i>Abx, Street 5A</a>
                </li>
                <li><a href="mailto: infovisit.foodie@gmail.com">
                    <i class="fa fa-envelope" style="padding: 3px; font-size: 15px;"></i>&nbsp;Mail Us</a>
                </li>
                <li><a routerLink="/contact" style="cursor: pointer;">
                    <i class="fa fa-phone" style="padding: 3px; font-size: 20px;"></i>&nbsp;Customer Support</a>
                </li>
            
            </ul>
        </div>
            
        <div class="col col-lg-3 col-12 " >
            <a href="" style="font-size: 17px;"><i class="fa fa-facebook" id="facebook"></i></a>
            <a href="" style="font-size: 17px;"><i class="fa fa-instagram" id="insta"></i></a>
            <a href="" style="font-size: 17px;"><i class="fa fa-linkedin" id="linkedin"></i></a>
        </div>

       </div>
    </div>
</div>
</div>
<h2><i class="fa fa-copyright"></i>Copyright</h2>
</footer>
