
.loginPage{
    /* background: linear-gradient(to right, rgb(26, 148, 248),rgb(16, 137, 236)); */
    /* background: #eed262; */
    background-image: url(../../assets/loginBg.svg);
    background-repeat: no-repeat;
    background-size:cover;
}

#bgImg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -20;
}
input{
    border-radius:30px;
    width: 84%;
    padding: 15px 20px;
    outline: none;
    margin-bottom: 10px;
}
#emailInP{
    margin-bottom: 20px;
}
#err{
    color: rgb(255, 78, 78);
}

#toggler{
    margin-left:-50px;
    color: black;
    cursor: pointer;
}

form{
    width: 94%;
    margin: auto;
    margin-bottom: 20px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section #imgBx{
    position: relative;
    width: 50%;
    height: 100%;
}

section #imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
section #formLogin{
    margin:auto;
    width: 50%;
    height: 100vh;
    text-align:center;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
form span{
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 400;
    /* color: rgb(210, 113, 245); */
    color: white;
    margin-bottom: 5px;
}

#formBx{
   background:#113f67;
   padding: 4%;
   border-radius:6%;
   box-shadow:10px 10px 190px -50px;
   margin: 10px;
   width: 50%;
}
/* #svgImg{
    position: absolute;
    z-index:-10;
    width: 50%;
    height: 80%;
    right: 60px;
} */
#formLogin h2{
    text-align: center;
    font-weight: 600;
    /* color: rgb(162, 61, 245); */
    color: white;
    margin-bottom: 30px;
    font-family: cursive;
    font-size: 25px;
}
p{
    font-size: 15px;
    color:yellow;
}
p a{
    font-weight: 600;
    color: white;
    margin-left:5px;
}
@media (max-width:1100px) {
    section #formLogin{
        width: 40%;
    }
    #formBx{
        width: 80%;
    }
}

@media (max-width:776px){

    section #imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section #formLogin{
    
        width: 100%;
        height: 100%;
        text-align:center;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 1;
    }
    #formBx{
        width: 50%;
        background:rgba(248, 26, 96, 0.932);
    }
    #err{
        color: white;
    }
   
}

@media (max-width:546px) {
    section #formLogin{
    
        width: 100%;
        height: 100%;
        text-align:center;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 1;
    }
    #formBx{
        width:72%;
        background:rgba(248, 26, 96, 0.932);
    }
}

@media (max-width:427px) {
    input{
        width: 100%;
    }
    #formBx{
        width: 80%;
    }
    form{
        width:70%;
    }
}
