<div class="main">
    <app-add-items></app-add-items>

<div>
    <!-- <h1 style="text-align: center;">Have a delicious food at available restaurants !!</h1> -->
<mat-card class="example-card" *ngFor="let restaurant of restaurants" (click)="getItems(restaurant.restaurantId)">
    
        <img mat-card-image src="{{restaurant.imageUrl}}" style="margin: 5px;">
        
        <h2
            style="text-align: center; text-transform: uppercase; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: rgb(0, 0, 0);font-weight: bolder;">
            <h3 >Id - {{restaurant.restaurantId}}</h3>     
            <span>{{restaurant.restaurantName}}</span>
        </h2>
        <mat-card-content>
            <h3>
                <div style="text-align: left;">Location: {{restaurant.location}}</div>
                <a style="color: black;  " target="_blank" rel="noopener">
                    <div style="text-align: center;">
                        <div class="github-star-badge">{{restaurant.rating}}
                          <i class="fa fa-star" style="color: gold;"></i>
                        </div>
                    </div>
                </a>
            </h3>
        </mat-card-content>
    
    </mat-card>
</div>


</div>