section{
  margin-top: 100px;
}

.vertical-line {
    border-left: 1px solid rgb(201, 201, 201);
    height: 100px;
  }
  /* .gradient-custom {
    background: linear-gradient(to right, #b96060, rgb(64, 57, 57));
    height: 100%;
    background-image: image-set("https://burst.shopifycdn.com/photos/games-and-pizza.jpg?width=373&format=pjpg&exif=1&iptc=1");
    } */

    .shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
}
#running{
  padding: 20px 20px;
}