<app-header></app-header>
<div class="background" *ngIf="present">
    <div class="Section">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img id="image1" src="../../assets/banner1.PNG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img id="image1" src="../../assets/banner2.PNG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img id="image1" src="../../assets/banner3.PNG" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div>

    

      <div class="Section2">
        <div class="line">
          <div id="text-1"> <p>Welcome,</p></div>
          <div id="text-2" ><p><span style="color:rgb(0, 140, 255)"></span>Order food from favourite restaraunt near you.</p></div>
          <div id="text-3"><p> <span class="typing"></span> </p></div>
        </div>
        
    <img  id="backImg"  src="../../assets/burgerImg.png">

      </div>
</div>
<app-restaurant-view></app-restaurant-view>
